# Copy to .env if you want to override defaults
DATASET_DIR="C:\Users\Costa\OneDrive - Wilfrid Laurier University\Documents\Study material\603 database\Public Transit\dataset"

# MySQL (defaults set in code: root/Window76##, db=transit)
MYSQL_HOST=localhost
MYSQL_PORT=3306
# MYSQL_USER=root
# MYSQL_PASSWORD=Window76##
# MYSQL_DB=transit
MYSQL_ECHO=false

# MongoDB (defaults set in code: mongodb://mongouser:secretpassword@localhost:27017)
# MONGO_URI=mongodb://mongouser:secretpassword@localhost:27017
MONGO_DB=transit
MONGO_COLLECTION=stop_timetables

